#url_form {
  position: fixed;
  left: 50%;
  bottom: 90px;
  transform: translate(-50%, 0);
  width: 90%;
  max-width: 720px;
  height: 36px;
  margin: 0;
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 18px;
  font-family: Helvetica, "Helvetica", sans-serif;
  font-weight: lighter;
  font-size: 24px;
  color: #807b87;
  box-shadow: 3px 3px 3px #000;
}
