#scoreboard {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  max-height: 50%;
  background-color: black;
  font-family: Helvetica, "Helvetica", sans-serif;
  color: white;
  border-radius: 0 0 0 30px;
  overflow: scroll;
}

#scoreboard h3 {
  margin: 3px;
  padding: 3px;
  font-size: 18px;
  border-bottom: 1px solid #a4a0aa;
}

#scoreboard ol {

}

#scoreboard li {
  color: #a4a0aa;
  margin-top: 9px;
  font-size: 12px;
  font-weight: lighter;
}

#username {
  color: white;
}
